* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Varela Round', sans-serif;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.divider {
  width: 100vw;
  height: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
  background-color: #f0f5f9;
}

section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

section#home {
  background: #f0f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#home .main-title span {
  color: #1e2022;
  font-size: 10vw;
}

section#home .secondary-title span {
  color: #52616b;
  font-size: 2vw;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.title {
  color: #1e2022;
}

.toggle-button {
  cursor: pointer;
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #1e2022;
  border-radius: 10px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links ul li {
  list-style: none;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #1e2022;
  padding: 1rem;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-links ul li a:hover {
  color: #7e868e;
  cursor: pointer;
}

.inview span {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (max-width: 600px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    color: #1e2022;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .navbar-links ul li a:hover {
    color: #7e868e;
    background-color: #fff3f5;
  }
  .navbar-links.active {
    display: block;
    padding-top: 1.5rem;
  }
  nav {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#home {
    background: #f0f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  section#home .main-title {
    text-align: center;
    padding-bottom: 1rem;
  }
  section#home .main-title span {
    color: #1e2022;
    font-size: 20vw;
    line-height: 90px;
  }
  section#home .secondary-title {
    text-align: center;
  }
  section#home .secondary-title span {
    color: #52616b;
    font-size: 5vw;
  }
}
/*# sourceMappingURL=main.css.map */